:root {
  --light: #faf4ff;
  --dark: black;
  --red: #c95e8d;
  --grayed-out: rgba(128, 128, 128, 0.539);
  --future-color: rgba(0, 0, 255, 0.167);
  --cursive-font: 'Sue Ellen Francisco', 'Klee One', cursive;
  --sans-serif-font: 'Urbanist', sans-serif;
}

body {
  font-family: var(--cursive-font);
  /* font-size: 32px; */
  background-color: var(--light);
  background-image: url("../images/paper-background.jpg");
  background-size: 500px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

header,
footer,
.hour {
  font-family: var(--sans-serif-font);
}

.cursive {
  font-family: var(--cursive-font);
}

strong {
  font-weight: 600;
}

h1 {
  font-weight: 600;
  margin-bottom: 2rem;
}

#hero img {
  height: min(300px, 80vw);
}

#currentDay {
  font-family: var(--cursive-font);
  color: var(--red);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid var(--dark);
  padding: 10px;
  /* font-size: calc(1.525rem + 3.3vw); */
}

.description {
  white-space: pre-wrap;
}

.time-block {
  position: relative;
  border-bottom: 1px solid blue;
}

.time-block:first-child {
  border-top: 1px solid blue;
}

.hour {
  color: var(--dark);
  border-right: 2px solid red;
}

.past {
  /* background-color: var(--grayed-out); */
}

.past textarea {
  position: relative;
  text-decoration: line-through;

  /* background-image: url("../images/pencil-scribble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top; */
}

.present {
  /* background: rgb(251,255,0); */
  /* background: linear-gradient(90deg, rgba(251,255,0,1) 0%, rgba(251,255,0,1) 60%, rgba(251,255,0,0) 100%); */
  background-image: url("../images/highlight.png");
  background-size: 85% 100%;
  background-repeat: no-repeat;
  color: white;
  /* animation: gradient 20s ease infinite; */
}

.present .hour::after {
  content: "NOW!";
  display: block;
  font-family: var(--cursive-font);
  font-size: min(2rem, 1rem + 2vw);
  color: red;
  transform: rotate(-10deg);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.future {
  background-color: var(--future-color);
}

.saveBtn {
  position: relative;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--dark);
}

.saveBtn p {
  font-family: var(--sans-serif-font);
  font-size: 80%;
}

.saveBtn span {
  transition: all 0.2s ease-in-out;
}

.saveBtn:hover span {
  color: var(--red);
  transition: all 0.2s ease-in-out;
}

.saveBtn:hover .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.toast-container {
  z-index: 1;
  color: var(--dark);
  font-family: var(--sans-serif-font);
}

.toast-body {
  font-size: 150%;
}

footer a {
  color: var(--red);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  #hero {
    width: 75%;
  }

  #hero img {
    height: 400px;
  }
}